<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hamzi.legacytoboot.member.model.dao.MemberMapper">

	<insert id="signup">
		INSERT
		  INTO
		       LEGACY_USER
		VALUES
		     (
			   #{userId},
			   #{userPwd},
			   #{userName},
			   #{email}  
			 )
	</insert>
	
	<select id="findById" resultType="Member">
		SELECT 
		       USER_ID
		     , USER_PWD
		     , USER_NAME
		     , EMAIL
		  FROM
		       LEGACY_USER
		 WHERE
		       USER_ID = #{userId}
	</select>
	
</mapper>